<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cpscs.omsadmin.dao.TtDao">

	<select id="get"   resultType="com.cpscs.omsadmin.domain.Tt">
		select `id`,`name`,`ttime` from tt  where id = #{id}
	</select>
	<select id="list" resultType="com.cpscs.omsadmin.domain.Tt">
		select `id`,`name`,`ttime` from tt
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="ttime != null and ttime != ''"> and ttime = #{ttime} </if>

		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from tt
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="ttime != null and ttime != ''"> and ttime = #{ttime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.cpscs.omsadmin.domain.Tt" useGeneratedKeys="true" keyProperty="id">
		insert into tt
		(
			`name`,
			`ttime`
		)
		values
		(	#{name},
			#{ttime}
		)
	</insert>
	<select id="getInfo"  resultType="com.cpscs.omsadmin.domain.TtInfo">
		SELECT
			A.id AS id,
			A.name AS name,
			A.ttime AS ttime,
			B.ocode AS ocode,
			B.oid AS oid
			FROM
			clouddo.tt AS A
			LEFT JOIN cs.oasd AS B ON B.oid = A.id
			where A.id=#{id}

	</select>
</mapper>